@font-face {
  font-family: Comfortaa;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Comfortaa-Regular.woff2"),
       url("../fonts/Comfortaa-Regular.woff");
}

@font-face {
  font-family: Comfortaa;
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Comfortaa-Bold.woff2"),
       url("../fonts/Comfortaa-Bold.woff");
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff2"),
       url("../fonts/Montserrat-Regular.woff");
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.woff2"),
       url("../fonts/Montserrat-Medium.woff");
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff2"),
       url("../fonts/Montserrat-Bold.woff");
}